<div class="side-bar-header">
  <div class="header-name">
    <% if user_signed_in? %>
      <%= link_to current_user.nickname, edit_user_registration_path %>
    <% else %>
      <div>ゲスト</div>
    <% end%>
  </div>
  <div class="create-room">
    <%= link_to "新ルーム", new_room_path %>
  </div>
</div>

<div class="rooms">
  <% if user_signed_in? %>
    <% current_user.rooms.each do |room| %>
      <div class="room">
        <div class="room-name">
          <%= link_to room.name, room_events_path(room) %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div></div>
  <% end %>
</div>