<div class="room_user-detail">
  <h1>ルーム参加者一覧</h1>
  <div class='room_user-detail-field' >
    <ul class="room_users-list">
      <li class="room_user-lists">
        <div class='room_user-name'>
          参加ユーザー<span>    </span>
        </div>
        <div class='room_user-created'>
          参加日
        </div>
        <% unless current_user.id == @room.user_id %>
          <div class='room_users-refuse_title'>
            強制退出ボタン
          </div>
        <% end %>
      </li>
    </ul>
  </div>
  <div class='room_user-detail-field' >
    <ul class="room_users-list">
    <% @room_users.each do |ru| %>
      <li class="room_user-lists">
        <div class='room_user-name'>
          <%= ru.user.nickname %><span>さん</span>
        </div>
        <div class='room_user-created'>
          <%= ru.user.created_at.strftime('%Y/%m/%d') %>
        </div>
        <% unless current_user.id == ru.room.user_id %>
          <div class='room_users_refuse'>
            <%= link_to "強制退出", room_room_user_path(ru.room_id,ru.id), method: :delete, class:"room_user_refuse" %>
          </div>
        <% end %>
      </li>
    <% end %>
  </div>
</div>
