.wrapper {
  display: flex;
}
.simple-calendar {
}
.calendar-heading{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 20px;
}

.calendar-title{
  font-family: "丸ゴシック";
  font-size: 30px;
  font-weight: bolder;
}
.previous-m, .next-m{
  color: blue;
  text-decoration: none;
  font-family: "arial";
  font-size: 25px;
  font-weight: bolder;
}

.day {
  
}

.wday-0 {
  background-color: rgb(245, 207, 229);
}
.wday-1 {}
.wday-2 {}
.wday-3 {}
.wday-4 {}
.wday-5 {}
.wday-6 {
  background-color: skyblue;
}

.today {}
.past {}
.future {}

.start-date {}

.prev-month {
  text-decoration: none;
}

.next-month { }
.current-month {}

.has-events {}

.side-bar {
  background-color: #fff;
  width: 300px;
  height: 100vh;
}
.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #0066ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid white;
  border-radius: 20px;
  overflow: hidden;
}
.header-name {
  display: flex;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}
.user-icon {
  margin-left: auto;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}
.create-room a {
  background-color: chocolate;
  font-size: 15px;
  border: 2px solid white;
  border-radius: 20px / 20px;
  padding: 14px;
  color: white;
  text-decoration: none;
}
.create-room a:hover{
  background-color: darksalmon;
}
.rooms {
  background-color: #2c80fd;
  height: calc(100vh - 100px);
  padding: 0 20px;
  border: 1px solid white;
  border-radius: 20px;
  overflow: hidden;
  overflow: scroll;
}
.my-room-list{
  font-size: 15px;
  margin: 20px 0 0;
  color: #fff;
  text-align: center;
  border-bottom: 1.5px dashed white;
}
.room {
  padding: 20px 0 20px;
}
.room-name a {
  font-size: 15px;
  text-decoration: none;
  color: #fff;
}
.main-rooms{
  background-color: #fff;
  height: calc(100vh - 100px);
  padding: 46px 40px 0;
  overflow: scroll;
}
.main-room-name a{
  color: #000000;
  font-size: 20px;
  margin-bottom: 20px;
  text-decoration: none;
}
.main-side {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}
.main-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px dashed gray;
}
.header-title {
  color: #333;
  font-size: 24px;
  font-weight: bolder;
  text-shadow: 1px 2px 3px lightblue; 
  margin-top: 40px;
}
.header-search {
  margin-top: 40px;
}

.header-button {
  margin-top: 40px;
}
.header-button a {
  text-decoration: none;
  border: 1.5px solid darkred;
  border-radius: 20px / 20px;
  color: darkred;
  padding: 20px;
}
.events {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 15px 40px 0;
}
.event {
  color: white;
  text-decoration: none;
  font-family: "arial";
  font-size: 15px;
  border: 1px solid lightsalmon;
  border-radius: 5px;
  background-color: lightsalmon;
  padding: 0 2.5px;
}
.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}
.event-form {
  width: 600px;
  margin: 20px auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
.event-form__label {
  display: block;
  line-height: 50px;
  font-weight: bold;
  text-align: right;
}
.event-form__input {
  float: left;
  width: 100%;
  line-height: 30px;
  padding: 10px 15px;
  box-sizing: border-box;
  /*background-color: #fff;*/
}
.event-form__field--right_time {
  float: right;
  width: 70%;
}
.event-form__input_time {
  float: left;
  width: 100%;
  line-height: 30px;
  padding: 10px 15px;
  box-sizing: border-box;
  /*background-color: #fff;*/
}
.event-form__action-btn {
  display: inline-block;
  padding: 12px 20px;
  color: #fff;
  background-color: #38aef0;
  border: 0;
}
.event-form__field {
  margin-top: 15px;
}
.event-form__field:after {
  content: "";
  clear: both;
  display: block;
}
.event-form__field--left {
  float: left;
  width: 30%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}
.event-form__field--right {
  float: right;
  width: 70%;
}
.event-detail {
  width: 980px;
  margin: 30px;
  padding: 40px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: scroll;
}
.event-detail_left,
.event-detail_right {
  width: 50%;
  height: 50vh;
}
.event-detail_field {
  margin-top: 30px;
  justify-content: center;
}
.event-detail_field--up {
  width: 100%;
  box-sizing: border-box;
}
.event-detail__label {
  line-height: 50px;
  font-weight: bold;
}
.event-detail__field--down {
  width: 300px;
  height: 30px;
  padding-left: 5px;
  background-color: lightyellow;
  border: 1px solid darkred;
  border-radius: 5px / 5px;
  display: inline-block;
}
.event-detail__area{
  width: 300px;
  height: 120px;
  padding-left: 5px;
  background-color: lightyellow;
  border: 1px solid darkred;
  border-radius: 5px / 5px;
  display: inline-block;
}
.event-button{
  margin-top: 20px;
  display: flex;
}
.event_edit_button,
.event_destroy_button,
.apply_show_button{
  margin-right: 20px;
  height: 40px;
  width: 100px;
  border: 1px solid darkred;
  border-radius: 5px / 5px;
  display: table;
  text-align: center;
}
.event_edit_button:hover{
  background-color: lightblue;
}
.event_destroy_button:hover{
  background-color: coral;
}
.apply_show_button:hover{
  background-color: lightgreen;
}
.event_edit_btn,
.event_destroy_btn,
.apply_show_btn{
  text-decoration: none;
  font-weight: normal;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: black;
}