.wrapper {
  display: flex;
}
.side-bar {
  background-color: #eb8511;
  width: 300px;
  height: 100vh;
}
.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #eb8511;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-name a{
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}
.create-room a {
  background-color: chocolate;
  font-size: 15px;
  border: 1.5px solid white;
  border-radius: 20px / 20px;
  padding: 14px;
  color: white;
  text-decoration: none;
}
.create-room a:hover{
  background-color: darksalmon;
}
.rooms {
  background-color: palegoldenrod;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}
.room {
  padding: 20px 0 40px;
}
.room-name a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.main-rooms{
  background-color: #fff;
  height: calc(100vh - 100px);
  padding: 46px 40px 0;
  overflow: scroll;
}
.main-room-name a{
  color: #000000;
  font-size: 20px;
  margin-bottom: 20px;
  text-decoration: none;
}
.main-side {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}
.main-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.header-title {
  color: #333;
  font-size: 24px;
  margin-top: 40px;
}
.header-search {
  margin-top: 40px;
}

.header-button {
  margin-top: 40px;
}
.header-button a {
  text-decoration: none;
  border: 1px solid darkred;
  border-radius: 20px / 20px;
  color: darkred;
  padding: 20px;
}
.events {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
}
.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}
.event-form {
  width: 980px;
  margin: 20px auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
.event-form__label {
  display: block;
  line-height: 50px;
  font-weight: bold;
  text-align: right;
}
.event-form__input {
  float: left;
  width: 100%;
  line-height: 30px;
  padding: 10px 15px;
  box-sizing: border-box;
  /*background-color: #fff;*/
}
.event-form__field--right_time {
  float: right;
  width: 70%;
}
.event-form__input_time {
  float: left;
  width: 100%;
  line-height: 30px;
  padding: 10px 15px;
  box-sizing: border-box;
  /*background-color: #fff;*/
}
.event-form__action-btn {
  display: inline-block;
  padding: 12px 20px;
  color: #fff;
  background-color: #38aef0;
  border: 0;
}
.event-form__field {
  margin-top: 15px;
}
.event-form__field:after {
  content: "";
  clear: both;
  display: block;
}
.event-form__field--left {
  float: left;
  width: 30%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}
.event-form__field--right {
  float: right;
  width: 70%;
}