h1 {
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
  color: #f05050;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}
.room-detail {
  width: 980px;
  margin: 60px auto;
  padding: 40px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
.room-detail_field {
  margin-top: 30px;
}
.room-detail_field--up {
  width: 100%;
  box-sizing: border-box;
}
.room-detail__label {
  line-height: 50px;
  font-weight: bold;
}
.room-detail__field--down {
  width: 300px;
  height: 30px;
  padding-left: 5px;
  background-color: lightyellow;
  border: 1px solid darkred;
  border-radius: 5px / 5px;
  display: inline-block;
}
.room-detail__area{
  width: 300px;
  height: 120px;
  padding-left: 5px;
  background-color: lightyellow;
  border: 1px solid darkred;
  border-radius: 5px / 5px;
  display: inline-block;
}
.room-btn{
  display: flex;
  margin: 20px auto;

}
.room-edit-btn, .room-destroy-btn{
  margin-right: 10px;
  height: 40px;
  width: 80px;
  border: 1px solid darkred;
  border-radius: 5px / 5px;
  text-decoration: none;
  text-align: center;
  text-justify: auto;
}


.room-form {
  width: 980px;
  margin: 60px auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
.room-form__errors {
  margin: 30px 0;
  padding: 20px 40px;
  border: 1px solid #ddd;
  border-radius: 2px;
  text-align: center;
}
.room-form__label {
  display: block;
  line-height: 50px;
  font-weight: bold;
  text-align: right;
}
.room-form__input {
  float: left;
  width: 100%;
  line-height: 30px;
  padding: 10px 15px;
  box-sizing: border-box;
  /*background-color: #fff;*/
}
.room-form__action-btn {
  display: inline-block;
  padding: 12px 20px;
  color: #fff;
  background-color: #38aef0;
  border: 0;
}
.room-form__field {
  margin-top: 30px;
}
.room-form__field:after {
  content: "";
  clear: both;
  display: block;
}
.room-form__field--left {
  float: left;
  width: 30%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}
.room-form__field--right {
  float: right;
  width: 70%;
}
.form-image{
  font-size: 12px;
  background-color: #ebde94;
  color: #000;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden{
  display: none;
}

.room-image{
  width: 180px;
  height: 180px;
  border-radius: 100px;
  overflow: hidden;
}
.room-lists {
  width: calc(100vw - 300px);
  height: calc(100vh - 100px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  overflow: scroll;
}
.room-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}
.main-room-img {
  position: relative;
}
.room-img {
  width: 180px;
  height: 180px;
  border-radius: 100px;
  overflow: hidden;
}
.main-room-name{
  text-align: center;
}
textarea {
  margin: auto;
  width: 400px;
  height: 150px;
  background-color: #fff;
  color: #000;
  border: solid 1px rgb(150, 150, 150);
  border-radius: 5px;
  padding: 10px;
}

select {
  width: 500px;
  height: 50px;
}

.top-header {
  background-color: #434a54;
  height: 80px;
  width: 100%;
}